@font-face {
  font-family: 'MonospaceTypewriter'; 
  src: url('MonospaceTypewriter.ttf') format('truetype'); 
  font-weight: normal; 
  font-style: normal;  
}
*{
    font-family:'MonospaceTypewriter','Arial',sans-serif;
}
.jax{
    font-family:serif;
}
button{
    background-color:#cccccc;
    color:#000000;
    :disabled{
        color:#aaaaaa
    }
}
button.tab{
    font-size:20px;
}
table{
    margin:auto;
    border-style:solid;
    border:#000000;
    border-collapse:collapse;
    td{
        width:135px;
        height:35px;
        font-size:12px
    }
}
div.hidden{display:none;}