@font-face {
  font-family: 'Inconsolata'; 
  src: url('Inconsolata.ttf') format('truetype'); 
  font-weight: 800; 
  font-style: normal;  
}
*{
    font-family:'Inconsolata','Arial',sans-serif;
}
.jax{
    font-family:serif;
}
button{
    background-color:#cccccc;
    color:#000000;
    :disabled{
        color:#aaaaaa
    }
    .upgrade{
        width:300px;
        height:220px;
    }
}
.upgrade{
    width:150px;
    height:110px;
}
button.tab{
    font-size:20px;
}
table{
    margin:auto;
    border-style:solid;
    border:#000000;
    border-collapse:collapse;
    td{
        width:145px;
        height:35px;
        font-size:12px
    }
}
.hidden{display:none;}